<form autocomplete="off" [formGroup]="myFormNewCoProfesional" (ngSubmit)="onSubmit()">
    <div mat-dialog-title style="font-size: 20px; font-weight: 500; ">Nuevo Correlativo Profesional</div>
    <mat-dialog-content class="mat-typography" style="border-top: 1px solid #ccc;">

      <div class="w-full">
        <label class="block mb-2 text-xs font-medium text-gray-700 mt-3">Oficina*</label>
        <select class="bg-gray-50 border border-gray-300 font-medium text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="codOficina" (change)="filtrarTrabCoProfesional($event)">
          <option value>- Seleccione - </option>
          @for (item of oficinasCoProfesional; track $index) {
            <option [value]="item.iCodOficina">{{item.cNomOficina}}</option>
          }
        </select>
        @if (myFormNewCoProfesional.controls['codOficina'].getError('required') && myFormNewCoProfesional.controls['codOficina'].touched) {
          <span class="text-red-500 text-xs italic">Oficina requerida</span>
        }
      </div>
      <div class="w-full">
        <label class="block mb-2 text-xs font-medium text-gray-700 mt-3">Trabajador*</label>
        <select class="bg-gray-50 border border-gray-300 font-medium text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="codTrabajador" (change)="filtrarTrabCoProfesionalTrabaj($event)">
          @if(listTrabajadores.length === 0){
              <option value>- Seleccione - </option>
          }@else {
            @for (item of listTrabajadores; track $index) {
              <option [value]="item.iCodTrabajador">{{item.cNombresTrabajador }} {{ item.cApellidosTrabajador}} </option>
            }
         }
        </select>
        @if (myFormNewCoProfesional.controls['codTrabajador'].getError('required') && myFormNewCoProfesional.controls['codTrabajador'].touched) {
          <span class="text-red-500 text-xs italic">Trabajador requerido</span>
        }
      </div>
      <div class="w-full">
        <label class="block mb-2 text-xs font-medium text-gray-700 mt-3">Año*</label>
        <select class="bg-gray-50 border border-gray-300 font-medium text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="numAnio" (change)="filtrarTrabCoProfesionalAnio($event)">
          @for (year of years; track $index) {
            <option [value]="year">{{year}}</option>
        }
        </select>
        @if (myFormNewCoProfesional.controls['numAnio'].getError('required') && myFormNewCoProfesional.controls['numAnio'].touched) {
          <span class="text-red-500 text-xs italic">Año requerido</span>
        }
      </div>
      <div class="w-full">
        <label class="block mb-2 text-xs font-medium text-gray-700 mt-3">Tipo de Documento*</label>
        <select class="bg-gray-50 border border-gray-300 font-medium text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="codTipoDoc">
          <option value>- Seleccione - </option>
          @for (tipoDoc of tipoDocumental; track $index) {
              <option [value]="tipoDoc.cCodTipoDoc">{{tipoDoc.cDescTipoDoc}}</option>
          }
        </select>
        @if (myFormNewCoProfesional.controls['codTipoDoc'].getError('required') && myFormNewCoProfesional.controls['codTipoDoc'].touched) {
          <span class="text-red-500 text-xs italic">Tipo documento requerido</span>
        }
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" mat-button [mat-dialog-close]="false" class="cancel-button" style="color: #000;">Cancelar</button>
        <button type="submit" mat-button cdkFocusInitial style="background-color: red; color: #fff;">Guardar</button>
    </mat-dialog-actions>

</form>
