<div class="p-3">
  <div style="background-color: #fff" class="rounded p-4" >
    <div class="font-extrabold text-lg mt-2 mb-2">Mantenimiento - Correlativo Profesional</div>
      <form autocomplete="off" [formGroup]="myFormCoProfesional"  class="mt-4">
        <mat-card class="w-full mt-2" appearance="outlined">
          <mat-card-content>
            <div class="mb-2 font-extrabold text-base" style="color: #b91c1b;">Criterios de Búsqueda</div>
            <div class="flex gap-4 mt-3">
              <div class="basis-1 sm:basis-1/4">
                <label class="block mb-2 text-xs font-bold text-gray-700">Oficina</label>
                <select class="bg-gray-50 border border-gray-300 font-semibold text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="iCodOficina" (change)="filtrarTrabCoProfesional($event)">
                  <option value="0">- Seleccione - </option>
                  @for (item of oficinasCoProfesional; track $index) {
                    <option [value]="item.iCodOficina">{{item.cNomOficina}}</option>
                  }
                </select>
              </div>
              <div class="basis-1 sm:basis-1/4">
                <label class="block mb-2 text-xs font-bold text-gray-700">Trabajador</label>
                <select class="bg-gray-50 border border-gray-300 font-semibold text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="iCodTrabajador" (change)="listarCoProfesional($event)">
                  @if(listTrabajadores.length === 0){
                    <option value="0">- Trabajador - </option>
                  }@else {
                    @for (item of listTrabajadores; track $index) {
                        <option [value]="item.iCodTrabajador">{{item.cNombresTrabajador }} {{ item.cApellidosTrabajador}} </option>
                    }
                  }
                </select>
              </div>
              <div class="basis-1 sm:basis-1/4">
                <label class="block mb-2 text-xs font-bold text-gray-700">Periodo</label>
                <select class="bg-gray-50 border border-gray-300 font-semibold text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5 " formControlName="nNumAno" (change)="listarCoProfesionalAnio($event)">
                  @for (year of years; track $index) {
                    <option [value]="year">{{year}}</option>
                  }
                </select>
              </div>
              <div class="basis-1 sm:basis-1/4" style="display: flex; align-items: end; justify-content: end;">
                <button class="mt-1" type="button" mat-flat-button style="background-color: #f43f5e;" (click)="newCoProfesional()"> <mat-icon>add</mat-icon> Agregar</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
      <mat-card class="mt-4" appearance="outlined">
        <div class="table-responsive px-3 mt-3">
          <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="oficina">
                  <th mat-header-cell *matHeaderCellDef style="font-size: 13px; background-color: #f5f5f5;"> Oficina </th>
                  <td mat-cell *matCellDef="let element" style="font-size: 11px; color: #808080; font-weight: 500;"> {{element.cNomOficina}} </td>
              </ng-container>
              <ng-container matColumnDef="tipo_doc">
                  <th mat-header-cell *matHeaderCellDef style="font-size: 13px; background-color: #f5f5f5;"> Tipo Doc </th>
                  <td mat-cell *matCellDef="let element" style="font-size: 11px; color: #808080; font-weight: 500;"> {{element.cDescTipoDoc}} </td>
              </ng-container>
              <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef style="font-size: 13px; background-color: #f5f5f5;"> N. </th>
                  <td mat-cell *matCellDef="let element" style="font-size: 11px; color: #808080; font-weight: 500;"> <input type="number" class="bg-gray-50 border font-medium border-gray-300 text-gray-500 text-xs rounded-lg focus:ring-red-700 focus:border-red-700 block w-full p-2.5" [(ngModel)]="element.nCorrelativo"  min="0" inputmode="numeric"> </td>

              </ng-container>
              <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef style="font-size: 13px; background-color: #f5f5f5;"> Eliminar </th>
                  <td mat-cell *matCellDef="let element" style="font-size: 11px; color: #808080; font-weight: 500;">
                    <button matTooltip="Eliminar Co. Profesional" style="width: 24px;" class="text-red-500 ms-1" (click)="deleteTrabaCoProfesional(element.iCodCorrelTrabajador)">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                          </svg>
                      </button>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow >
                  @if (isFetchingData) {
                    <td colspan="4" >
                        <div style="display: flex; justify-content: center;" class="p-4">
                            <mat-spinner></mat-spinner>
                        </div>
                    </td>
                  }@else {
                    <td class="mat-cell p-3 text-red-500" colspan="6"  align="center" style="font-weight: 500;">No se encontraron registros </td>
                  }
              </tr>

          </table>
          @if (buttonUpdate) {
              <div class="w-full p-3 " align="center" style="background-color: #f5f5f5;">
                  <button class="mt-1" type="button" mat-flat-button style="background-color: #4ADE80;" (click)="editarRegistro()"> <mat-icon>save</mat-icon> Actualizar</button>
              </div>
          }
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
          </mat-paginator>

      </div>
      </mat-card>

  </div>
</div>
