<!-- <p>registro-detalle works!</p>
{{cod_tramite}} -->
<div class="p-5">
  <div class="flex">
    <div class="basis-1/2">
      <div class="font-medium text-2xl text-gray-950">Trámite: E012400511</div>
    </div>
    <div class="basis-1/2">

    </div>
  </div>
  <div class="flex mt-4">
    <div class="flex gap-2">
      <div  style="display: flex; align-items: center;">
        <svg class="w-6 h-6 text-gray-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z" clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="text-xl font-medium text-gray-700">Datos Generales</div>
    </div>
  </div>
  <div class="flex mt-3 gap-4">
    <div class="basis-1/2">
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Documento</span>
        </div>
        <div class="basis-3/4 ">
          <span class="text-sm text-gray-700">CARTA N° PRUEBA_05_08 CON FECHA 5-8-2024 0:00</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Asunto</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700">prueba_05_08</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Observaciones</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700">prueba_05_08</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Tema</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700">SIN CLASIFICAR</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">CUI</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Contrato</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Tramo</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Estado</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-red-700 font-medium border  border-red-700 p-1">DOCUMENTO SIN ENVIO (Borrador)</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Registrador</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-green-700 font-medium">SONIA DIAZ GARCIA</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Fecha Plazo Máximo</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-red-700 font-medium">Sin Plazo</span>
        </div>
      </div>
    </div>

    <div class="basis-1/2">
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Registrado en el Sistema</span>
        </div>
        <div class="basis-3/4 ">
          <span class="text-sm text-gray-700">05-08-2024 14:32</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Folio</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Presentacion</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700">Fisico</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Confidencialidad</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700">Normal</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Distribucion a PVD</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700">En Original</span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Archivo Fisico</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Fecha de Entrega Fisica</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Referencias</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
      <div class="flex mt-1">
        <div class="basis-1/4">
          <span class="text-sm font-medium">Adjuntos</span>
        </div>
        <div class="basis-3/4">
          <span class="text-sm text-gray-700"></span>
        </div>
      </div>
    </div>
  </div>
</div>

