<mat-sidenav-container style="height: 100vh; display: flex;">

  <mat-sidenav #sidenav [opened]="true" mode="side" style="height: 100%; max-width: 280px; background-color: #1e293b; border-radius: 0px;" >
    <div class="py-5 px-6">
      <img src="/images/logo.png" alt="logo" class="mt-1" />
    </div>
    <div style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;" class="p-2">
      <div style="color: #fff; display: flex; justify-content: center; font-size: 14px;font-weight: 500;">{{userName}} ({{currentRole}})</div>
      <div style="color: #9298a0; display: flex; justify-content: center;font-size: 10px;font-weight: 500;"> <span class="font-extrabold">Oficina: </span> <span class="ms-2">{{ nomOficina}}</span></div>
      <div style="color: #9298a0; display: flex; justify-content: center;font-size: 10px;font-weight: 500;"> <span class="font-extrabold">Jefe: </span> <span class="ms-2">SONIA DIAZ GARCIA</span></div>
    </div>
    @if (isOperador) {
      <shared-sidenav-operador></shared-sidenav-operador>
    }@if (isAdministrador) {
      <shared-sidenav-administrador></shared-sidenav-administrador>
    }@if(isJefe){
      <shared-sidenav-jefe></shared-sidenav-jefe>
    }
  </mat-sidenav>
  <mat-sidenav-content style="width: 100%; display: flex; flex-direction: column; background: #f1f5f9;">
    <div style="background-color: rgb(185, 28, 28); display: flex; align-items: center;" class="px-5 py-3">
      <button mat-icon-button class="mat-mdc-button-touch-target" (click)="sidenav.toggle()" style="color: #fff;">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex items-center gap-2 ml-5"><img src="/images/escudo.png" class="w-8"><span class="contenedor_header">PVD | SISTEMA DE TRAMITE DOCUMENTARIO</span></div>
      <div style="flex: 1;"></div>

      <div style="display: flex; align-items: center;">
        <button  mat-icon-button style="color: #fff;" (click)="toggleFullScreen()" matTooltip="Toggle Fullscreen">
          <svg id="arrows-pointing-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"/>
          </svg>
        </button>
        <div class="mx-2"></div>
        <button  mat-icon-button [matMenuTriggerFor]="menu"><img src="/images/user.png" class="w-7 h-7 rounded-full"></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <div style="color: #555; font-weight: 300;">Usuario</div>
            <div style="color: #555; font-weight: 500;">{{userName}}</div>
          </button>
          <mat-divider></mat-divider>
          @for( perfil of listPerfiles; track perfil.iCodPerfilUsuario){
            <button mat-menu-item (click)="navigateToProfile(perfil)">
              <mat-icon> dialpad</mat-icon>
              <span>{{perfil.cDescPerfil}} - {{perfil.cSiglaOficina}}</span>
            </button>
          }
          <mat-divider></mat-divider>
          <button mat-menu-item style="color: #555;">
            <mat-icon style="color: #555;"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"></path>
            </svg></mat-icon>
            <span style="font-weight: 400;">Cerrar sesión</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="contenedor_outlet">
      <router-outlet></router-outlet>
    </div>
    <div style="background-color: #fff; font-weight: 700; font-size: 13px;border-top: 1px solid #ccc; color: gray;" class="px-5 py-4">
      Sistema de Tramite  Documentario - PVD © 2024
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
