mat-sidenav-container {
  font-family: "Nunito Sans",Roboto, "Helvetica Neue", sans-serif;
}
.contenedor_header{
  font-size: 14px;
  color: #fff; font-weight: 800;
}
.contenedor_outlet{
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
}


