<form autocomplete="off" [formGroup]="myFormNewMensajeria" (ngSubmit)="onSubmit()">
    @if (id_mensajeria) {
        <div mat-dialog-title style="font-size: 20px; font-weight: 500; ">Nuevo Mensajeria</div>
    }@else {
      <div mat-dialog-title style="font-size: 20px; font-weight: 500; ">Actualizar Mensajeria</div>
    }
    <mat-dialog-content class="mat-typography" style="border-top: 1px solid #ccc;">
      <div class="w-full">
        <div class="flex flex-wrap mb-6 mt-3"> 

            <div class="w-full">
                <label class="block text-gray-700 text-md mb-2" style="font-weight: 500; font-size: 12px;"> Contenido</label>
                <input type="text" class="custom-select border border-gray-400 py-2 px-3 rounded-full w-full" formControlName="contenido">
            </div>
            <div class="w-full">
                <div class="relative">
                    <label class="block text-gray-700 text-md mb-2" style="font-weight: 500; font-size: 12px;"> Nivel </label>
                    <select class="custom-select bg-gray-50 border border-gray-400 py-3 px-3 rounded-full w-full appearance-none text-gray-900" formControlName="nivel">
                        <option value="">Seleccione:</option>
                        <option value="1">Global</option>
                        <option value="2">Global (Oficinas)</option>
                        <option value="3">Oficina especifica</option>
                        <option value="4">Usuario</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 svg-container">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="relative">
                    <label class="block text-gray-700 text-md mb-2" style="font-weight: 500; font-size: 12px;"> Priorida </label>
                    <select class="custom-select bg-gray-50 border border-gray-400 py-3 px-3 rounded-full w-full appearance-none text-gray-900" formControlName="prioridad">
                        <option value="">Seleccione:</option>
                        <option value="1">Alta</option>
                        <option value="2">Media</option>
                        <option value="3">Baja</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 svg-container">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="relative">
                    <label class="block text-gray-700 text-md mb-2" style="font-weight: 500; font-size: 12px;"> Estado </label>
                    <select class="custom-select bg-gray-50 border border-gray-400 py-3 px-3 rounded-full w-full appearance-none text-gray-900" formControlName="estadoMensaje">
                        <option value="">Seleccione:</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 svg-container">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <div class="relative">
                    <label class="block text-gray-700 text-md mb-2" style="font-weight: 500; font-size: 12px;"> Oficina Destino </label>
                    <select class="custom-select bg-gray-50 border border-gray-400 py-3 px-3 rounded-full w-full appearance-none text-gray-900" formControlName="codOficinaDestino">
                        <option value="">Seleccione:</option>
                        @for (item of comboOfcnaDestino; track $index) {
                            <option [value]="item.iCodOficina">{{item.cNomOficina}}</option>
                        }
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 svg-container">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <label class="block text-gray-700 text-md mb-2" style="font-weight: 500; font-size: 12px;"> Trabajador Destino </label>
                <input type="number" min="0" class="custom-select border border-gray-400 py-2 px-3 rounded-full w-full" formControlName="codTrabajadorDestino">
            </div>

        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button type="button" mat-button [mat-dialog-close]="false" class="cancel-button">Cancelar</button>
      <button type="submit" mat-button cdkFocusInitial style="background-color: red; color: #fff;">{{ 'Actualizar' }}</button>
    </mat-dialog-actions>
  </form>
